/target
.oidc-vm-testbed-state.json
.oidc-vm-testbed-state.json.oidc-secrets/
.env
/crates/**/target
/assets
**/wit
!apps/http-hello-component/wit/
!apps/http-hello-component/wit/**
!apps/wasi-grpc-echo/wit/
!apps/wasi-grpc-echo/wit/**
